<header style="position:fixed; top: 0; margin: 10px 0px 20px 0px;">
    <a href='@Url.Action("Bus")'>
    <img src="~/imagenes/flecha.png" width="20%" height="auto">
    </a>
</header>
<div>
    <img class="mesa" src="~/imagenes/mesa.jpg" width="80%">
@{
    switch(ViewBag.imagen){
        case 1:
        switch(Escape.estadoJuego){
            case 3:
            <video class="bombaVideo" src="~/imagenes/Video Bomba.mp4" autoplay="true" muted="true" loop="true" width="50%" style=margin-top:10%;margin-left:25%;></video>
            <form action='@Url.Action("VerificarRespuesta")' >
                <input class="preguntas" type="text" name="respuesta">
            </form>

            break;
            case 0:
            <img class="fondo" src="~/imagenes/bomba dentro.png" width="50%" style=margin-top:10%; >
            <form action='@Url.Action("VerificarRespuesta")' >
                <input class="preguntas" type="text" name="respuesta" placeholder="7 dígitos">
            </form>
            break;
            case 1:
            <img class="fondo" src="~/imagenes/bomba ET.png" width="50%" style=margin-top:10%;>
            <form action='@Url.Action("VerificarRespuesta")' >
                <input class="preguntas" type="text" name="respuesta" placeholder="......">
            </form>
            break;
            case 2:
            <img class="fondo" src="~/imagenes/bomba dentro.png" width="50%" style=margin-top:10%; >
            <form action='@Url.Action("VerificarRespuesta")' >
                <input class="preguntas" type="text" name="respuesta">
            </form>
            break;
            case 4:
            <img class="fondo" src="~/imagenes/bomba dentro.png" width="50%" style=margin-top:10%;>
            <form action='@Url.Action("VerificarRespuesta")' >
                <input class="pregunta_final" type="text" name="respuesta"placeholder="¿y ahora?">
            </form>
            break;
        }
        break;
        case 2:
        <img class="fondo" src="~/imagenes/morse.jpg" width="50%" style=margin-top:50px;>
        break;
        case 3:
        <img class="fondo" src="~/imagenes/lista.png" width="50%" style=margin-top:20%;>
        break;
        case 4:
        <img class="fondo" src="~/imagenes/fibonacci.jpg" width="35%" style=margin-top:50px;>
        break;
    }
}

</div>